/* line 17, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
  960 Grid System ~ Text CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
*/
/* `Basic HTML
----------------------------------------------------------------------------------------------------*/
/* line 11, ../sass/partials/_typography.scss */
body {
  font: 14px/1.5em "Droid Serif", "Georgia", "Times New Roman", "Palatino", "Hoefler Text", "Baskerville", serif;
}

/* line 16, ../sass/partials/_typography.scss */
pre,
code {
  font-family: 'DejaVu Sans Mono', Monaco, Consolas, monospace;
}

/* line 20, ../sass/partials/_typography.scss */
hr {
  border: 0 #ccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/
/* line 30, ../sass/partials/_typography.scss */
h1 {
  font-size: 1.714em;
  /* 24px */
}

/* line 34, ../sass/partials/_typography.scss */
h2 {
  font-size: 1.571em;
  /* 22px */
}

/* line 38, ../sass/partials/_typography.scss */
h3 {
  font-size: 1.429em;
  /* 20px */
}

/* line 42, ../sass/partials/_typography.scss */
h4 {
  font-size: 1.286em;
  /* 18px */
}

/* line 46, ../sass/partials/_typography.scss */
h5 {
  font-size: 1.143em;
  /* 16px */
}

/* line 50, ../sass/partials/_typography.scss */
h6 {
  font-size: 1.071em;
  /* 15px */
}

/* `Spacing
----------------------------------------------------------------------------------------------------*/
/* line 57, ../sass/partials/_typography.scss */
ol {
  list-style: decimal;
}

/* line 61, ../sass/partials/_typography.scss */
ul {
  list-style: disc;
}

/* line 65, ../sass/partials/_typography.scss */
li {
  margin-left: 30px;
}

/* line 84, ../sass/partials/_typography.scss */
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 20px;
}

/* line 87, ../sass/partials/_typography.scss */
strong {
  font-weight: bold;
}

/* line 90, ../sass/partials/_typography.scss */
em {
  font-style: italic;
}

/* line 87, ../sass/drupalcampnyc10.scss */
body {
  background: #80746b;
  background-image: url("../images/background_retaining_wall5.png");
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(15%, rgba(35, 32, 30, 0.75)), color-stop(30%, rgba(35, 32, 30, 0.15)), color-stop(50%, rgba(128, 116, 107, 0.15)), color-stop(95%, rgba(128, 116, 107, 0))), url("../images/side_piece.png"), url("../images/background_retaining_wall5.png");
  background-image: -webkit-linear-gradient(rgba(35, 32, 30, 0.75) 15%, rgba(35, 32, 30, 0.15) 30%, rgba(128, 116, 107, 0.15) 50%, rgba(128, 116, 107, 0) 95%), url("../images/side_piece.png"), url("../images/background_retaining_wall5.png");
  background-image: -moz-linear-gradient(rgba(35, 32, 30, 0.75) 15%, rgba(35, 32, 30, 0.15) 30%, rgba(128, 116, 107, 0.15) 50%, rgba(128, 116, 107, 0) 95%), url("../images/side_piece.png"), url("../images/background_retaining_wall5.png");
  background-image: -o-linear-gradient(rgba(35, 32, 30, 0.75) 15%, rgba(35, 32, 30, 0.15) 30%, rgba(128, 116, 107, 0.15) 50%, rgba(128, 116, 107, 0) 95%), url("../images/side_piece.png"), url("../images/background_retaining_wall5.png");
  background-image: -ms-linear-gradient(rgba(35, 32, 30, 0.75) 15%, rgba(35, 32, 30, 0.15) 30%, rgba(128, 116, 107, 0.15) 50%, rgba(128, 116, 107, 0) 95%), url("../images/side_piece.png"), url("../images/background_retaining_wall5.png");
  background-image: linear-gradient(rgba(35, 32, 30, 0.75) 15%, rgba(35, 32, 30, 0.15) 30%, rgba(128, 116, 107, 0.15) 50%, rgba(128, 116, 107, 0) 95%), url("../images/side_piece.png"), url("../images/background_retaining_wall5.png");
  background-position: top center,90% 0,top center;
  background-repeat: no-repeat, repeat-y, repeat;
  font-family: "DroidSerif";
}

/* line 95, ../sass/drupalcampnyc10.scss */
a, a:link {
  color: #e5aa20;
  text-decoration: none;
}

/* line 99, ../sass/drupalcampnyc10.scss */
a:visited {
  color: #cca039;
  text-decoration: none;
}

/* Hover/active link styles. Don't forget :focus for accessibility */
/* line 106, ../sass/drupalcampnyc10.scss */
a:hover,
a:focus,
a:active {
  color: #f1af14;
  text-decoration: underline;
}

/* line 110, ../sass/drupalcampnyc10.scss */
strong {
  font-weight: bold;
}

/* line 113, ../sass/drupalcampnyc10.scss */
em {
  font-style: italic;
}

/* line 119, ../sass/drupalcampnyc10.scss */
h1.title .word1 {
  color: #a0aab5;
}

/* line 122, ../sass/drupalcampnyc10.scss */
h1.title .word2 {
  color: #708090;
}

/* line 125, ../sass/drupalcampnyc10.scss */
h1.title .word3 {
  color: #a0aab5;
}

/* line 130, ../sass/drupalcampnyc10.scss */
h1#site-name {
  opacity: 1;
  font-size: 10em;
  font-family: "LeagueGothicRegular", Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  line-height: .95em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75), 0px -1px 2px rgba(0, 0, 25, 0.25);
}

/* line 140, ../sass/drupalcampnyc10.scss */
#header-site-info.block {
  margin: 0;
}

/* line 144, ../sass/drupalcampnyc10.scss */
#site-name .char1 {
  margin-left: -0.017em;
  color: #a0aab5;
}

/* line 148, ../sass/drupalcampnyc10.scss */
#site-name .char2 {
  margin-left: -0.017em;
  color: #a0aab5;
}

/* line 152, ../sass/drupalcampnyc10.scss */
#site-name .char3 {
  margin-left: 0.006em;
  color: #a0aab5;
}

/* line 156, ../sass/drupalcampnyc10.scss */
#site-name .char4 {
  margin-left: -0.022em;
  color: #a0aab5;
}

/* line 160, ../sass/drupalcampnyc10.scss */
#site-name .char5 {
  margin-left: -0.011em;
  color: #a0aab5;
}

/* line 164, ../sass/drupalcampnyc10.scss */
#site-name .char6 {
  margin-left: -0.022em;
  color: #a0aab5;
}

/* line 168, ../sass/drupalcampnyc10.scss */
#site-name .char7 {
  margin-left: -0.017em;
  color: #708090;
}

/* line 172, ../sass/drupalcampnyc10.scss */
#site-name .char8 {
  margin-left: 0em;
  color: #708090;
}

/* line 176, ../sass/drupalcampnyc10.scss */
#site-name .char9 {
  margin-left: -0.011em;
  color: #708090;
}

/* line 180, ../sass/drupalcampnyc10.scss */
#site-name .char10 {
  margin-left: -0.011em;
  color: #708090;
}

/* line 184, ../sass/drupalcampnyc10.scss */
#site-name .char11 {
  margin-left: -0.017em;
  color: #a0aab5;
}

/* line 188, ../sass/drupalcampnyc10.scss */
#site-name .char12 {
  margin-left: -0.017em;
  color: #a0aab5;
}

/* line 192, ../sass/drupalcampnyc10.scss */
#site-name .char13 {
  margin-left: -0.033em;
  color: #a0aab5;
}

/* line 196, ../sass/drupalcampnyc10.scss */
#site-name .char14 {
  margin-left: -0.033em;
  color: #a0aab5;
}

/* line 200, ../sass/drupalcampnyc10.scss */
#site-name .char15 {
  margin-left: -0.033em;
  color: #708090;
}

/* line 204, ../sass/drupalcampnyc10.scss */
#site-name .char16 {
  margin-left: -0.011em;
  color: #708090;
}

/* line 209, ../sass/drupalcampnyc10.scss */
#block-countdown-0 {
  color: #708090;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75), 0px -1px 2px rgba(0, 0, 25, 0.25);
  font-family: "LeagueGothicRegular", Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1em;
  line-height: 1em;
  margin: -8px 0 0 0;
  height: 160px;
}
/* line 217, ../sass/drupalcampnyc10.scss */
#block-countdown-0 em {
  font-size: 14em;
  margin: 0 0 -40px 0;
  font-style: normal;
  line-height: 1em;
}
/* line 223, ../sass/drupalcampnyc10.scss */
#block-countdown-0 span {
  position: relative;
  top: -160px;
  left: 120px;
  width: 120px;
  display: block;
  font-size: 5.5em;
  line-height: 1.125em;
}

/* line 233, ../sass/drupalcampnyc10.scss */
h1.title {
  font-family: "LeagueGothicRegular", Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 6.5em;
  line-height: 1.2em;
  color: #a0aab5;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75), 0px -1px 2px rgba(0, 0, 25, 0.25);
  margin: 0 0 .125em 0;
}

/* line 259, ../sass/drupalcampnyc10.scss */
.front h1.title .char1,
.front h1.title .char2,
.front h1.title .char3,
.front h1.title .char4,
.front h1.title .char5,
.front h1.title .char6,
.front h1.title .char7,
.front h1.title .char8,
.front h1.title .char9,
.front h1.title .char10,
.front h1.title .char11,
.front h1.title .char18,
.front h1.title .char19,
.front h1.title .char20,
.front h1.title .char21,
.front h1.title .char26,
.front h1.title .char27 {
  color: #a0aab5;
}

/* line 265, ../sass/drupalcampnyc10.scss */
.front h1.title .char13 {
  margin-left: -0.013em;
}

/* line 268, ../sass/drupalcampnyc10.scss */
.front h1.title .char15 {
  margin-left: -0.013em;
}

/* line 271, ../sass/drupalcampnyc10.scss */
.front h1.title .char17 {
  margin-left: -0.026em;
}

/* line 274, ../sass/drupalcampnyc10.scss */
.front h1.title .char19 {
  margin-left: 0em;
}

/* line 277, ../sass/drupalcampnyc10.scss */
.front h1.title .char20 {
  margin-left: -0.013em;
}

/* line 280, ../sass/drupalcampnyc10.scss */
.front h1.title .char21 {
  margin-left: -0.013em;
}

/* line 283, ../sass/drupalcampnyc10.scss */
.front h1.title .char22 {
  margin-left: -0.013em;
}

/* line 286, ../sass/drupalcampnyc10.scss */
.front h1.title .char23 {
  margin-left: -0.013em;
}

/* line 289, ../sass/drupalcampnyc10.scss */
.front h1.title .char24 {
  margin-left: -0.026em;
}

/* line 292, ../sass/drupalcampnyc10.scss */
.front h1.title .char25 {
  margin-left: 0em;
}

/* line 295, ../sass/drupalcampnyc10.scss */
.front h1.title .char26 {
  margin-left: -0.026em;
}

/* line 298, ../sass/drupalcampnyc10.scss */
.front h1.title .char27 {
  margin-left: 0em;
}

/* line 301, ../sass/drupalcampnyc10.scss */
.float-right {
  float: right;
  width: 350px;
}

/* line 305, ../sass/drupalcampnyc10.scss */
.front .node-type-page {
  color: #eeeeee;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75), 0px -1px 2px rgba(0, 0, 25, 0.25);
  font-size: 1.4em;
  line-height: 1.4em;
  float: left;
  width: 350px;
}

/* line 314, ../sass/drupalcampnyc10.scss */
#block-mailing_list-1 h2, #block-block-5 h2 {
  color: #a0aab5;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75), 0px -1px 2px rgba(0, 0, 25, 0.25);
  font-family: "LeagueGothicRegular", Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 4.65em;
  line-height: 1em;
  margin: 8px 0 0 0;
}
/* line 322, ../sass/drupalcampnyc10.scss */
#block-mailing_list-1 label, #block-block-5 label {
  margin: 0 0 0 6px;
  color: #eeeeee;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75), 0px -1px 2px rgba(0, 0, 25, 0.25);
  font-size: 1.5em;
  line-height: 1.5em;
  letter-spacing: .06em;
}
/* line 330, ../sass/drupalcampnyc10.scss */
#block-mailing_list-1 #mc_embed_signup input, #block-block-5 #mc_embed_signup input {
  width: 212px;
  line-height: 1.25em;
  font-size: 1.5em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  border: none;
  -moz-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.95);
  -webkit-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.95);
  -o-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.95);
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.95);
}
/* line 338, ../sass/drupalcampnyc10.scss */
#block-mailing_list-1 #mc_embed_signup input.button, #block-block-5 #mc_embed_signup input.button {
  width: 136px;
  height: 52px;
  font-size: 3em;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
/* line 344, ../sass/drupalcampnyc10.scss */
#block-mailing_list-1 input[type="submit"], #block-block-5 input[type="submit"] {
  font-family: "LeagueGothicRegular", Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background: #a0aab5;
  color: rgba(30, 35, 39, 0.9);
  text-transform: uppercase;
  line-height: 1.25em;
  font-size: 3em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  border: none;
  padding: 5px 10px 0px 10px;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  float: right;
}
/* line 357, ../sass/drupalcampnyc10.scss */
#block-mailing_list-1 input[type="text"], #block-block-5 input[type="text"] {
  width: 240px;
  line-height: 1.25em;
  font-size: 2em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  border: none;
  -moz-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.95);
  -webkit-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.95);
  -o-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.95);
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.95);
  padding: 2px 5px 2px 5px;
}

/* line 367, ../sass/drupalcampnyc10.scss */
#sidebar-last {
  margin: -3px 0 0 0;
}

/* line 370, ../sass/drupalcampnyc10.scss */
#block-block-1 {
  margin: 0;
  color: #708090;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75), 0px -1px 2px rgba(0, 0, 25, 0.25);
  font-family: "LeagueGothicRegular", Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1em;
}
/* line 376, ../sass/drupalcampnyc10.scss */
#block-block-1 h3 {
  font-size: 7.5em;
  line-height: 1em;
  margin: 0;
}
/* line 381, ../sass/drupalcampnyc10.scss */
#block-block-1 p {
  color: #a0aab5;
  text-align: justify;
  font-size: 5.7em;
  line-height: 1em;
  margin: 0;
}
/* line 388, ../sass/drupalcampnyc10.scss */
#block-block-1.block {
  margin: 0;
}

/* line 392, ../sass/drupalcampnyc10.scss */
#block-block-2 {
  margin: 0;
  color: #a0aab5;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75), 0px -1px 2px rgba(0, 0, 25, 0.25);
  font-family: "LeagueGothicRegular", Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1em;
}
/* line 398, ../sass/drupalcampnyc10.scss */
#block-block-2 h3 {
  font-size: 8.25em;
  line-height: .9em;
  margin: 0;
}
/* line 403, ../sass/drupalcampnyc10.scss */
#block-block-2 p {
  color: #708090;
  text-align: justify;
  font-size: 3.75em;
  line-height: 1em;
  margin: 10px 0 0 0;
}
/* line 409, ../sass/drupalcampnyc10.scss */
#block-block-2 p span {
  font-size: 1.6em;
  line-height: .9em;
}
/* line 414, ../sass/drupalcampnyc10.scss */
#block-block-2.block {
  margin: 0;
}

/* line 418, ../sass/drupalcampnyc10.scss */
#block-block-3 {
  margin: 0;
  font-size: 1em;
}
/* line 421, ../sass/drupalcampnyc10.scss */
#block-block-3 h2 {
  color: #a0aab5;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75), 0px -1px 2px rgba(0, 0, 25, 0.25);
  font-family: "LeagueGothicRegular", Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 4.65em;
  line-height: 1em;
  margin: 4px 0 0 0;
}
/* line 429, ../sass/drupalcampnyc10.scss */
#block-block-3.block {
  margin: 0;
}
/* line 432, ../sass/drupalcampnyc10.scss */
#block-block-3 ul {
  height: 42px;
  display: block;
  margin: 10px 0 0 0;
}
/* line 436, ../sass/drupalcampnyc10.scss */
#block-block-3 ul li {
  float: left;
  list-style: none;
}
/* line 439, ../sass/drupalcampnyc10.scss */
#block-block-3 ul li a {
  text-indent: -1000em;
  width: 45px;
  height: 42px;
  display: block;
  float: left;
  margin: 0 8px 0 0;
}
/* line 446, ../sass/drupalcampnyc10.scss */
#block-block-3 ul li a em {
  width: 45px;
  height: 42px;
  background: url("../images/social-media-icons.png");
  background-position: 0 0px;
}
/* line 453, ../sass/drupalcampnyc10.scss */
#block-block-3 ul li.twitter em {
  background-position: 0px 0px;
}
/* line 456, ../sass/drupalcampnyc10.scss */
#block-block-3 ul li.gdo em {
  background-position: 45px 0px;
}

/* line 462, ../sass/drupalcampnyc10.scss */
#block-block-4 {
  float: right;
  width: 350px;
}

/* line 467, ../sass/drupalcampnyc10.scss */
.replace {
  position: relative;
  /* Start Mac IE5 filter \*/
  overflow: hidden;
  /* End Mac IE5 filter */
  padding: 0;
  margin: 0;
}

/* line 475, ../sass/drupalcampnyc10.scss */
.replace em {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  /*for Opera 5 and 6*/
}

/* line 482, ../sass/drupalcampnyc10.scss */
#footer-message {
  color: #eeeeee;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75), 0px -1px 2px rgba(0, 0, 25, 0.25);
  font-size: 1.1em;
}

/* line 491, ../sass/drupalcampnyc10.scss */
#primary-menu {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(81, 73, 67, 0.5)), color-stop(65%, rgba(53, 48, 44, 0.5)), color-stop(85%, rgba(39, 35, 32, 0.5)));
  background-image: -webkit-linear-gradient(rgba(81, 73, 67, 0.5), rgba(53, 48, 44, 0.5) 65%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -moz-linear-gradient(rgba(81, 73, 67, 0.5), rgba(53, 48, 44, 0.5) 65%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -o-linear-gradient(rgba(81, 73, 67, 0.5), rgba(53, 48, 44, 0.5) 65%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -ms-linear-gradient(rgba(81, 73, 67, 0.5), rgba(53, 48, 44, 0.5) 65%, rgba(39, 35, 32, 0.5) 85%);
  background-image: linear-gradient(rgba(81, 73, 67, 0.5), rgba(53, 48, 44, 0.5) 65%, rgba(39, 35, 32, 0.5) 85%);
  -moz-border-radius-topleft: 16px;
  -webkit-border-top-left-radius: 16px;
  -o-border-top-left-radius: 16px;
  -ms-border-top-left-radius: 16px;
  -khtml-border-top-left-radius: 16px;
  border-top-left-radius: 16px;
  -moz-border-radius-topright: 16px;
  -webkit-border-top-right-radius: 16px;
  -o-border-top-right-radius: 16px;
  -ms-border-top-right-radius: 16px;
  -khtml-border-top-right-radius: 16px;
  border-top-right-radius: 16px;
  -moz-border-radius-bottomleft: 40px 80px;
  -webkit-border-bottom-left-radius: 40px 80px;
  -o-border-bottom-left-radius: 40px 80px;
  -ms-border-bottom-left-radius: 40px 80px;
  -khtml-border-bottom-left-radius: 40px 80px;
  border-bottom-left-radius: 40px 80px;
  -moz-border-radius-bottomright: 40px 80px;
  -webkit-border-bottom-right-radius: 40px 80px;
  -o-border-bottom-right-radius: 40px 80px;
  -ms-border-bottom-right-radius: 40px 80px;
  -khtml-border-bottom-right-radius: 40px 80px;
  border-bottom-right-radius: 40px 80px;
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
/* line 495, ../sass/drupalcampnyc10.scss */
#primary-menu ul {
  margin: 0;
  padding: 0 0 0 2em;
  font-size: 2em;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.66), 1px 1px 1px rgba(205, 205, 205, 0.25);
}
/* line 500, ../sass/drupalcampnyc10.scss */
#primary-menu ul li {
  margin: 0;
  padding: 0 .5em;
  letter-spacing: .10em;
  font-variant: small-caps;
}
/* line 505, ../sass/drupalcampnyc10.scss */
#primary-menu ul li a {
  margin: 0;
  padding: .5em;
}
/* line 508, ../sass/drupalcampnyc10.scss */
#primary-menu ul li a.active, #primary-menu ul li a:hover {
  color: #eeeeee;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(81, 73, 67, 0.5)), color-stop(65%, rgba(53, 48, 44, 0.5)), color-stop(85%, rgba(39, 35, 32, 0.5)));
  background-image: -webkit-linear-gradient(rgba(81, 73, 67, 0.5), rgba(53, 48, 44, 0.5) 65%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -moz-linear-gradient(rgba(81, 73, 67, 0.5), rgba(53, 48, 44, 0.5) 65%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -o-linear-gradient(rgba(81, 73, 67, 0.5), rgba(53, 48, 44, 0.5) 65%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -ms-linear-gradient(rgba(81, 73, 67, 0.5), rgba(53, 48, 44, 0.5) 65%, rgba(39, 35, 32, 0.5) 85%);
  background-image: linear-gradient(rgba(81, 73, 67, 0.5), rgba(53, 48, 44, 0.5) 65%, rgba(39, 35, 32, 0.5) 85%);
}
/* line 514, ../sass/drupalcampnyc10.scss */
#primary-menu ul ul {
  margin: 1px 0 0 0;
  padding: 0;
  font-size: 1em;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(81, 73, 67, 0.5)), color-stop(65%, rgba(53, 48, 44, 0.5)), color-stop(85%, rgba(39, 35, 32, 0.5)));
  background-image: -webkit-linear-gradient(rgba(81, 73, 67, 0.5), rgba(53, 48, 44, 0.5) 65%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -moz-linear-gradient(rgba(81, 73, 67, 0.5), rgba(53, 48, 44, 0.5) 65%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -o-linear-gradient(rgba(81, 73, 67, 0.5), rgba(53, 48, 44, 0.5) 65%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -ms-linear-gradient(rgba(81, 73, 67, 0.5), rgba(53, 48, 44, 0.5) 65%, rgba(39, 35, 32, 0.5) 85%);
  background-image: linear-gradient(rgba(81, 73, 67, 0.5), rgba(53, 48, 44, 0.5) 65%, rgba(39, 35, 32, 0.5) 85%);
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -o-border-bottom-left-radius: 8px;
  -ms-border-bottom-left-radius: 8px;
  -khtml-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -o-border-bottom-right-radius: 8px;
  -ms-border-bottom-right-radius: 8px;
  -khtml-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-right: dotted 1px rgba(25, 25, 25, 0.5);
  border-left: dotted 1px rgba(25, 25, 25, 0.5);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
/* line 523, ../sass/drupalcampnyc10.scss */
#primary-menu ul ul li {
  margin: 0;
  padding: 0 0;
  border-bottom: dotted 1px rgba(0, 0, 0, 0.25);
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -o-border-bottom-left-radius: 8px;
  -ms-border-bottom-left-radius: 8px;
  -khtml-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -o-border-bottom-right-radius: 8px;
  -ms-border-bottom-right-radius: 8px;
  -khtml-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  line-height: 1.2em;
}
/* line 531, ../sass/drupalcampnyc10.scss */
#primary-menu ul ul li a:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, rgba(81, 73, 67, 0.5)), color-stop(45%, rgba(53, 48, 44, 0.5)), color-stop(85%, rgba(39, 35, 32, 0.5)));
  background-image: -webkit-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -moz-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -o-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -ms-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
}

/* line 541, ../sass/drupalcampnyc10.scss */
#content-group {
  font-size: 1.33em;
  line-height: 1.5em;
}
/* line 544, ../sass/drupalcampnyc10.scss */
#content-group #content-inner {
  width: 95%;
  padding: 2%;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  background: rgba(95, 86, 79, 0.66);
}
/* line 550, ../sass/drupalcampnyc10.scss */
#content-group #content-inner #content-inner-inner {
  margin: 0;
  padding: 1em;
  border: 1px rgba(0, 0, 0, 0.3) dashed;
  outline: 1px rgba(112, 128, 144, 0.5) dashed;
}

/* line 562, ../sass/drupalcampnyc10.scss */
#content-tabs.block {
  margin: 0;
}
/* line 565, ../sass/drupalcampnyc10.scss */
#content-tabs .primary {
  border: none;
  display: inline;
}
/* line 568, ../sass/drupalcampnyc10.scss */
#content-tabs .primary li {
  letter-spacing: .15em;
  font-variant: small-caps;
  background: none;
  border: none;
  display: block;
  float: left;
  margin: 0;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.66), 1px 1px 1px rgba(205, 205, 205, 0.25);
}
/* line 578, ../sass/drupalcampnyc10.scss */
#content-tabs .primary li.active a, #content-tabs .primary li:hover a {
  color: #eeeeee;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(81, 73, 67, 0.5)), color-stop(25%, rgba(53, 48, 44, 0.5)), color-stop(85%, rgba(39, 35, 32, 0.5)));
  background-image: -webkit-linear-gradient(rgba(81, 73, 67, 0.5), rgba(53, 48, 44, 0.5) 25%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -moz-linear-gradient(rgba(81, 73, 67, 0.5), rgba(53, 48, 44, 0.5) 25%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -o-linear-gradient(rgba(81, 73, 67, 0.5), rgba(53, 48, 44, 0.5) 25%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -ms-linear-gradient(rgba(81, 73, 67, 0.5), rgba(53, 48, 44, 0.5) 25%, rgba(39, 35, 32, 0.5) 85%);
  background-image: linear-gradient(rgba(81, 73, 67, 0.5), rgba(53, 48, 44, 0.5) 25%, rgba(39, 35, 32, 0.5) 85%);
}
/* line 583, ../sass/drupalcampnyc10.scss */
#content-tabs .primary li a {
  -moz-border-radius-topleft: 40px 80px;
  -webkit-border-top-left-radius: 40px 80px;
  -o-border-top-left-radius: 40px 80px;
  -ms-border-top-left-radius: 40px 80px;
  -khtml-border-top-left-radius: 40px 80px;
  border-top-left-radius: 40px 80px;
  -moz-border-radius-topright: 40px 80px;
  -webkit-border-top-right-radius: 40px 80px;
  -o-border-top-right-radius: 40px 80px;
  -ms-border-top-right-radius: 40px 80px;
  -khtml-border-top-right-radius: 40px 80px;
  border-top-right-radius: 40px 80px;
  display: block;
  background: none;
  border: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, rgba(81, 73, 67, 0.5)), color-stop(45%, rgba(53, 48, 44, 0.5)), color-stop(85%, rgba(39, 35, 32, 0.5)));
  background-image: -webkit-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -moz-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -o-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -ms-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  padding: .5em 2em;
  line-height: 1.1em;
}

/* line 605, ../sass/drupalcampnyc10.scss */
input[type="submit"],
.uc_signup_previous,
#continue-shopping-link a,
a.uc_signup_edit_info,
.order-pane a {
  display: inline-block;
  width: auto;
  height: auto;
  cursor: pointer;
  font-size: 16px;
  padding: 0.5em 1.5em;
  line-height: 1.2em;
  border-style: solid;
  border-width: 1px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-color: #a0aab5;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6f7f8), color-stop(3%, #a0aab5), color-stop(70%, #708090));
  background: -webkit-linear-gradient(#f6f7f8, #a0aab5 3%, #708090 70%);
  background: -moz-linear-gradient(#f6f7f8, #a0aab5 3%, #708090 70%);
  background: -o-linear-gradient(#f6f7f8, #a0aab5 3%, #708090 70%);
  background: -ms-linear-gradient(#f6f7f8, #a0aab5 3%, #708090 70%);
  -pie-background: linear-gradient(#f6f7f8, #a0aab5 3%, #708090 70%);
  background: linear-gradient(#f6f7f8, #a0aab5 3%, #708090 70%);
  border-color: #708090;
  color: #111111;
  text-shadow: #c1c8cf 0 1px 0;
  padding: 0.5em 1.5em !important;
}
/* line 11, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.0.5/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input[type="submit"]:hover,
.uc_signup_previous:hover,
#continue-shopping-link a:hover,
a.uc_signup_edit_info:hover,
.order-pane a:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6f7f8), color-stop(3%, #aeb7c0), color-stop(75%, #7e8d9b));
  background: -webkit-linear-gradient(#f6f7f8, #aeb7c0 3%, #7e8d9b 75%);
  background: -moz-linear-gradient(#f6f7f8, #aeb7c0 3%, #7e8d9b 75%);
  background: -o-linear-gradient(#f6f7f8, #aeb7c0 3%, #7e8d9b 75%);
  background: -ms-linear-gradient(#f6f7f8, #aeb7c0 3%, #7e8d9b 75%);
  -pie-background: linear-gradient(#f6f7f8, #aeb7c0 3%, #7e8d9b 75%);
  background: linear-gradient(#f6f7f8, #aeb7c0 3%, #7e8d9b 75%);
}

/* line 612, ../sass/drupalcampnyc10.scss */
a.uc_signup_previous,
#continue-shopping-link a,
a.uc_signup_edit_info,
.order-pane a {
  color: #111;
  font-family: 'Lucida Grande';
  font-weight: bold;
}
/* line 616, ../sass/drupalcampnyc10.scss */
a.uc_signup_previous:hover,
#continue-shopping-link a:hover,
a.uc_signup_edit_info:hover,
.order-pane a:hover {
  text-decoration: none !important;
}

/* line 620, ../sass/drupalcampnyc10.scss */
input[type="submit"]#edit-submit, #edit-submit-5, #edit-checkout, #edit-continue {
  display: inline-block;
  width: auto;
  height: auto;
  cursor: pointer;
  font-size: 16px;
  padding: 0.5em 1.5em;
  line-height: 1.2em;
  border-style: solid;
  border-width: 1px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-color: #5fe041;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cef5c5), color-stop(3%, #5fe041), color-stop(70%, #2a8b13));
  background: -webkit-linear-gradient(#cef5c5, #5fe041 3%, #2a8b13 70%);
  background: -moz-linear-gradient(#cef5c5, #5fe041 3%, #2a8b13 70%);
  background: -o-linear-gradient(#cef5c5, #5fe041 3%, #2a8b13 70%);
  background: -ms-linear-gradient(#cef5c5, #5fe041 3%, #2a8b13 70%);
  -pie-background: linear-gradient(#cef5c5, #5fe041 3%, #2a8b13 70%);
  background: linear-gradient(#cef5c5, #5fe041 3%, #2a8b13 70%);
  border-color: #2a8b13;
  color: #111111;
  text-shadow: #b2f0a4 0 1px 0;
}
/* line 11, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.0.5/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input[type="submit"]#edit-submit:hover, #edit-submit-5:hover, #edit-checkout:hover, #edit-continue:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cef5c5), color-stop(3%, #71e457), color-stop(75%, #31a116));
  background: -webkit-linear-gradient(#cef5c5, #71e457 3%, #31a116 75%);
  background: -moz-linear-gradient(#cef5c5, #71e457 3%, #31a116 75%);
  background: -o-linear-gradient(#cef5c5, #71e457 3%, #31a116 75%);
  background: -ms-linear-gradient(#cef5c5, #71e457 3%, #31a116 75%);
  -pie-background: linear-gradient(#cef5c5, #71e457 3%, #31a116 75%);
  background: linear-gradient(#cef5c5, #71e457 3%, #31a116 75%);
}

/* line 623, ../sass/drupalcampnyc10.scss */
input[type="submit"]#edit-items-0-remove {
  display: inline-block;
  width: auto;
  height: auto;
  cursor: pointer;
  font-size: 14px;
  padding: 0.5em 1.5em;
  line-height: 1.2em;
  border-style: solid;
  border-width: 1px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  -o-border-radius: 25px;
  -ms-border-radius: 25px;
  -khtml-border-radius: 25px;
  border-radius: 25px;
  background-color: #f33737;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcc7c7), color-stop(3%, #f33737), color-stop(70%, #c71e1e));
  background: -webkit-linear-gradient(#fcc7c7, #f33737 3%, #c71e1e 70%);
  background: -moz-linear-gradient(#fcc7c7, #f33737 3%, #c71e1e 70%);
  background: -o-linear-gradient(#fcc7c7, #f33737 3%, #c71e1e 70%);
  background: -ms-linear-gradient(#fcc7c7, #f33737 3%, #c71e1e 70%);
  -pie-background: linear-gradient(#fcc7c7, #f33737 3%, #c71e1e 70%);
  background: linear-gradient(#fcc7c7, #f33737 3%, #c71e1e 70%);
  border-color: #c71e1e;
  color: #111111;
  text-shadow: #f66e6e 0 1px 0;
}
/* line 11, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.0.5/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input[type="submit"]#edit-items-0-remove:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcc7c7), color-stop(3%, #f44f4f), color-stop(75%, #dd2121));
  background: -webkit-linear-gradient(#fcc7c7, #f44f4f 3%, #dd2121 75%);
  background: -moz-linear-gradient(#fcc7c7, #f44f4f 3%, #dd2121 75%);
  background: -o-linear-gradient(#fcc7c7, #f44f4f 3%, #dd2121 75%);
  background: -ms-linear-gradient(#fcc7c7, #f44f4f 3%, #dd2121 75%);
  -pie-background: linear-gradient(#fcc7c7, #f44f4f 3%, #dd2121 75%);
  background: linear-gradient(#fcc7c7, #f44f4f 3%, #dd2121 75%);
}

/* line 629, ../sass/drupalcampnyc10.scss */
input[type="text"],
input[type="password"] {
  padding: .25em  0 .25em .5em;
  line-height: 1.25em;
  font-size: 1.1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  border: none;
  -moz-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.95);
  -webkit-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.95);
  -o-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.95);
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.95);
  margin: 0em 0 .5em 0;
}

/* line 638, ../sass/drupalcampnyc10.scss */
label {
  font-family: 'Lucida Grande';
  color: #eeeeee;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75), 0px -1px 2px rgba(0, 0, 25, 0.25);
  font-size: 1.1em;
  margin: 1em 0 .25em .25em;
}

/* line 645, ../sass/drupalcampnyc10.scss */
.description {
  color: #ccc;
}

/* line 649, ../sass/drupalcampnyc10.scss */
fieldset {
  margin: 0em 0 .5em 0;
}

/* line 652, ../sass/drupalcampnyc10.scss */
fieldset legend {
  font-size: 20px;
  line-height: 1.25em;
  padding: 0em 0 1em 0;
  font-family: 'Lucida Grande';
}
/* line 657, ../sass/drupalcampnyc10.scss */
fieldset legend a {
  padding: 0;
  font-size: 20px;
  background-image: none;
  margin: 0em .5em .25em .5em;
}

/* line 665, ../sass/drupalcampnyc10.scss */
#cart-form-products {
  font-family: 'Lucida Grande';
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, rgba(81, 73, 67, 0.5)), color-stop(45%, rgba(53, 48, 44, 0.5)), color-stop(85%, rgba(39, 35, 32, 0.5)));
  background-image: -webkit-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -moz-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -o-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -ms-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  padding: 1em;
}
/* line 670, ../sass/drupalcampnyc10.scss */
#cart-form-products thead th {
  font-size: 1.2em;
  padding: .5em 1em;
  border: none;
  color: #aaa;
  letter-spacing: .05em;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.66), 1px 1px 1px rgba(205, 205, 205, 0.25);
}
/* line 678, ../sass/drupalcampnyc10.scss */
#cart-form-products tr.even, #cart-form-products tr.odd {
  background: none;
  border: none;
}
/* line 681, ../sass/drupalcampnyc10.scss */
#cart-form-products tr.even td, #cart-form-products tr.odd td {
  padding: .5em 1em .5em .5em;
}
/* line 686, ../sass/drupalcampnyc10.scss */
#cart-form-products tbody .desc, #cart-form-products tbody .uc-price {
  font-size: 1.2em;
  letter-spacing: .05em;
  color: #ccc;
}
/* line 691, ../sass/drupalcampnyc10.scss */
#cart-form-products tbody .subtotal {
  color: #999;
}
/* line 697, ../sass/drupalcampnyc10.scss */
#cart-form-products #edit-items-0-qty {
  font-size: 1em;
  line-height: 1.5em;
  text-align: center;
}

/* line 706, ../sass/drupalcampnyc10.scss */
#product-group .product-image {
  float: right;
  margin: 0 0 1em 0;
}

/* line 711, ../sass/drupalcampnyc10.scss */
#product-details {
  margin: 2em 0 0 0;
}
/* line 713, ../sass/drupalcampnyc10.scss */
#product-details .uc-price-display {
  color: #a0aab5;
  font-size: 3em;
  margin: 0 1em 0 0;
  font-family: "LeagueGothicRegular", Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  line-height: .95em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75), 0px -1px 2px rgba(0, 0, 25, 0.25);
}
/* line 722, ../sass/drupalcampnyc10.scss */
#product-details .product-image {
  float: right;
}

/* line 728, ../sass/drupalcampnyc10.scss */
#uc-signup-attendees-form {
  font-family: 'Lucida Grande';
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, rgba(81, 73, 67, 0.5)), color-stop(45%, rgba(53, 48, 44, 0.5)), color-stop(85%, rgba(39, 35, 32, 0.5)));
  background-image: -webkit-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -moz-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -o-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -ms-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  width: 460px;
  padding: 10px 10px 60px 10px;
}
/* line 734, ../sass/drupalcampnyc10.scss */
#uc-signup-attendees-form #edit-submit {
  float: right;
  clear: both;
  margin: 2em 0 .5em 0;
}
/* line 739, ../sass/drupalcampnyc10.scss */
#uc-signup-attendees-form .uc_signup_previous {
  margin: 2em 0 .5em 0;
}
/* line 742, ../sass/drupalcampnyc10.scss */
#uc-signup-attendees-form fieldset {
  margin: 0em 0 .5em 0;
}
/* line 745, ../sass/drupalcampnyc10.scss */
#uc-signup-attendees-form fieldset legend {
  font-size: 20px;
  margin: 0em .5em .25em .5em;
}
/* line 748, ../sass/drupalcampnyc10.scss */
#uc-signup-attendees-form fieldset legend a {
  padding: 0;
  font-size: 20px;
  background-image: none;
}
/* line 754, ../sass/drupalcampnyc10.scss */
#uc-signup-attendees-form input[type="text"] {
  width: 95%;
  font-size: 1.2em;
}
/* line 758, ../sass/drupalcampnyc10.scss */
#uc-signup-attendees-form .uc_signup_needs_account {
  padding: 0;
  background-image: none;
}

/* line 763, ../sass/drupalcampnyc10.scss */
#uc-cart-checkout-form {
  font-family: 'Lucida Grande';
}
/* line 765, ../sass/drupalcampnyc10.scss */
#uc-cart-checkout-form #uc_signup_attendees_pane-pane .fieldset-wrapper > div {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, rgba(81, 73, 67, 0.5)), color-stop(45%, rgba(53, 48, 44, 0.5)), color-stop(85%, rgba(39, 35, 32, 0.5)));
  background-image: -webkit-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -moz-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -o-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -ms-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  color: #eeeeee;
  width: 260px;
  padding: 10px;
  margin: 0px 12px 20px 0px;
  float: left;
}
/* line 773, ../sass/drupalcampnyc10.scss */
#uc-cart-checkout-form #uc_signup_attendees_pane-pane .fieldset-wrapper > div .uc_signup_user_events {
  color: #aaa;
}
/* line 776, ../sass/drupalcampnyc10.scss */
#uc-cart-checkout-form #uc_signup_attendees_pane-pane .fieldset-wrapper > div .uc_signup_edit_info {
  float: none;
}
/* line 780, ../sass/drupalcampnyc10.scss */
#uc-cart-checkout-form fieldset {
  margin: 0em 0 2.5em 0;
}
/* line 783, ../sass/drupalcampnyc10.scss */
#uc-cart-checkout-form fieldset legend {
  font-size: 20px;
  margin: 0em .5em .5em 0em;
  padding: 0em .5em .5em 0em;
}
/* line 787, ../sass/drupalcampnyc10.scss */
#uc-cart-checkout-form fieldset legend a {
  padding: 0;
  font-size: 20px;
  background-image: none;
  margin: 0em .5em .5em 0em;
}
/* line 794, ../sass/drupalcampnyc10.scss */
#uc-cart-checkout-form .field-label {
  color: #eeeeee;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75), 0px -1px 2px rgba(0, 0, 25, 0.25);
  font-size: 1.1em;
  padding: .3em;
  vertical-align: top;
}
/* line 801, ../sass/drupalcampnyc10.scss */
#uc-cart-checkout-form select {
  font-size: 1em;
  padding: 0.4em 0;
}
/* line 805, ../sass/drupalcampnyc10.scss */
#uc-cart-checkout-form #billing-pane select {
  width: 320px;
}
/* line 808, ../sass/drupalcampnyc10.scss */
#uc-cart-checkout-form input[type="text"] {
  font-size: 1.2em;
}
/* line 811, ../sass/drupalcampnyc10.scss */
#uc-cart-checkout-form .description {
  margin: 0em 0 1em 0;
}
/* line 814, ../sass/drupalcampnyc10.scss */
#uc-cart-checkout-form #line-items-div {
  font-size: 1.2em;
  padding: .5em 1em;
  color: #aaa;
  letter-spacing: .05em;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.66), 1px 1px 1px rgba(205, 205, 205, 0.25);
  border: none !important;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, rgba(81, 73, 67, 0.5)), color-stop(45%, rgba(53, 48, 44, 0.5)), color-stop(85%, rgba(39, 35, 32, 0.5)));
  background-image: -webkit-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -moz-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -o-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -ms-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
}
/* line 824, ../sass/drupalcampnyc10.scss */
#uc-cart-checkout-form table.cart-review {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, rgba(81, 73, 67, 0.5)), color-stop(45%, rgba(53, 48, 44, 0.5)), color-stop(85%, rgba(39, 35, 32, 0.5)));
  background-image: -webkit-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -moz-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -o-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -ms-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  margin: 0em 0 1em 0;
  font-size: .8em;
}
/* line 830, ../sass/drupalcampnyc10.scss */
#uc-cart-checkout-form thead th {
  font-size: 1.2em;
  padding: .5em 1em;
  border: none;
  color: #aaa;
  letter-spacing: .05em;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.66), 1px 1px 1px rgba(205, 205, 205, 0.25);
}
/* line 838, ../sass/drupalcampnyc10.scss */
#uc-cart-checkout-form tbody {
  margin: .5em 1em;
}
/* line 841, ../sass/drupalcampnyc10.scss */
#uc-cart-checkout-form tr.even, #uc-cart-checkout-form tr.odd {
  background: none;
  border: none;
}
/* line 844, ../sass/drupalcampnyc10.scss */
#uc-cart-checkout-form tr.even td, #uc-cart-checkout-form tr.odd td {
  padding: .5em 1em .5em .5em;
  font-size: 1.2em;
}
/* line 848, ../sass/drupalcampnyc10.scss */
#uc-cart-checkout-form tr.even .products, #uc-cart-checkout-form tr.even .qty, #uc-cart-checkout-form tr.odd .products, #uc-cart-checkout-form tr.odd .qty {
  color: #eeeeee;
}
/* line 852, ../sass/drupalcampnyc10.scss */
#uc-cart-checkout-form tbody .desc, #uc-cart-checkout-form tbody .uc-price {
  font-size: 1.2em;
  letter-spacing: .05em;
  color: #ccc;
}
/* line 857, ../sass/drupalcampnyc10.scss */
#uc-cart-checkout-form tbody .subtotal {
  color: #999;
}
/* line 860, ../sass/drupalcampnyc10.scss */
#uc-cart-checkout-form .uc-price {
  font-size: 1.2em;
  letter-spacing: .05em;
  color: #ccc;
}
/* line 865, ../sass/drupalcampnyc10.scss */
#uc-cart-checkout-form .solid-border {
  border: none;
}

/* line 872, ../sass/drupalcampnyc10.scss */
#pid-cart-checkout-review #content-content > p {
  width: 480px;
  font-family: 'Lucida Grande';
}

/* line 877, ../sass/drupalcampnyc10.scss */
.order-review-table {
  width: 480px;
  margin: 0em 0 1em 0;
  padding: 10px;
  border: none;
  font-family: 'Lucida Grande';
  font-size: 1.2em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, rgba(81, 73, 67, 0.5)), color-stop(45%, rgba(53, 48, 44, 0.5)), color-stop(85%, rgba(39, 35, 32, 0.5)));
  background-image: -webkit-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -moz-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -o-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -ms-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
}
/* line 886, ../sass/drupalcampnyc10.scss */
.order-review-table td {
  padding: .5em 1em .5em .5em;
  vertical-align: top;
}
/* line 889, ../sass/drupalcampnyc10.scss */
.order-review-table td.title-col {
  color: #aaa;
  font-weight: bold;
  padding-left: 1em;
  text-align: right;
}
/* line 895, ../sass/drupalcampnyc10.scss */
.order-review-table td.data-col {
  color: #eeeeee;
}
/* line 899, ../sass/drupalcampnyc10.scss */
.order-review-table .pane-title-row {
  border: none;
  background: none;
  color: #ccc;
}
/* line 904, ../sass/drupalcampnyc10.scss */
.order-review-table .row-border-top {
  border: none;
}
/* line 907, ../sass/drupalcampnyc10.scss */
.order-review-table .review-button-row {
  border: none;
  background: none;
}
/* line 910, ../sass/drupalcampnyc10.scss */
.order-review-table .review-button-row #edit-submit {
  float: right;
}

/* line 916, ../sass/drupalcampnyc10.scss */
#pid-cart-checkout-complete #content-content > p {
  width: 480px;
  font-family: 'Lucida Grande';
}

/* line 925, ../sass/drupalcampnyc10.scss */
#order-pane-uc_signup_info,
#order-pane-bill_to,
#order-pane-payment,
#order-pane-order_comments {
  padding: 10px;
  font-family: 'Lucida Grande';
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, rgba(81, 73, 67, 0.5)), color-stop(45%, rgba(53, 48, 44, 0.5)), color-stop(85%, rgba(39, 35, 32, 0.5)));
  background-image: -webkit-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -moz-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -o-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -ms-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  border: none;
  color: #eeeeee;
  line-height: 1.5em;
}

/* line 934, ../sass/drupalcampnyc10.scss */
.order-pane {
  border: none;
}
/* line 936, ../sass/drupalcampnyc10.scss */
.order-pane img {
  display: none;
}
/* line 939, ../sass/drupalcampnyc10.scss */
.order-pane thead {
  border: none;
  background: none;
}
/* line 942, ../sass/drupalcampnyc10.scss */
.order-pane thead th {
  border: none;
  background: none;
}
/* line 947, ../sass/drupalcampnyc10.scss */
.order-pane tr, .order-pane tr.even, .order-pane tr.odd {
  background: none;
  border: none;
}
/* line 950, ../sass/drupalcampnyc10.scss */
.order-pane tr td, .order-pane tr.even td, .order-pane tr.odd td {
  padding: .5em 1em .5em .5em;
}

/* line 955, ../sass/drupalcampnyc10.scss */
.order-pane-title {
  color: #aaa;
}

/* line 958, ../sass/drupalcampnyc10.scss */
#order-pane-uc_signup_info {
  width: 460px;
}

/* line 962, ../sass/drupalcampnyc10.scss */
#order-pane-products,
#order-pane-line_items {
  padding: 10px;
  margin: 0;
  font-family: 'Lucida Grande';
  border: none;
  color: #eeeeee;
  line-height: 1.5em;
}
/* line 969, ../sass/drupalcampnyc10.scss */
#order-pane-products thead,
#order-pane-line_items thead {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, rgba(81, 73, 67, 0.5)), color-stop(45%, rgba(53, 48, 44, 0.5)), color-stop(85%, rgba(39, 35, 32, 0.5)));
  background-image: -webkit-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -moz-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -o-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -ms-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
}
