/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* Layout - 16 column grid, fluid width, 20px gutters
-------------------------------------------------------------- */
/* grid widths */
/* line 6, ../sass/partials/_grid12-fluid.scss */
.grid12-1 {
  width: 8.33%;
}

/* line 7, ../sass/partials/_grid12-fluid.scss */
.grid12-2 {
  width: 16.67%;
}

/* line 8, ../sass/partials/_grid12-fluid.scss */
.grid12-3 {
  width: 25%;
}

/* line 9, ../sass/partials/_grid12-fluid.scss */
.grid12-4 {
  width: 33.33%;
}

/* line 10, ../sass/partials/_grid12-fluid.scss */
.grid12-5 {
  width: 41.67%;
}

/* line 11, ../sass/partials/_grid12-fluid.scss */
.grid12-6 {
  width: 50%;
}

/* line 12, ../sass/partials/_grid12-fluid.scss */
.grid12-7 {
  width: 58.33%;
}

/* line 13, ../sass/partials/_grid12-fluid.scss */
.grid12-8 {
  width: 66.67%;
}

/* line 14, ../sass/partials/_grid12-fluid.scss */
.grid12-9 {
  width: 75%;
}

/* line 15, ../sass/partials/_grid12-fluid.scss */
.grid12-10 {
  width: 83.33%;
}

/* line 16, ../sass/partials/_grid12-fluid.scss */
.grid12-11 {
  width: 91.67%;
}

/* line 17, ../sass/partials/_grid12-fluid.scss */
.grid12-12 {
  width: 100%;
}

/* block indents */
/* line 20, ../sass/partials/_grid12-fluid.scss */
.grid12-indent-1 {
  margin-left: 8.33%;
}

/* line 21, ../sass/partials/_grid12-fluid.scss */
.grid12-indent-2 {
  margin-left: 16.67%;
}

/* line 22, ../sass/partials/_grid12-fluid.scss */
.grid12-indent-3 {
  margin-left: 25%;
}

/* line 23, ../sass/partials/_grid12-fluid.scss */
.grid12-indent-4 {
  margin-left: 33.33%;
}

/* line 24, ../sass/partials/_grid12-fluid.scss */
.grid12-indent-5 {
  margin-left: 41.67%;
}

/* line 25, ../sass/partials/_grid12-fluid.scss */
.grid12-indent-6 {
  margin-left: 50%;
}

/* line 26, ../sass/partials/_grid12-fluid.scss */
.grid12-indent-7 {
  margin-left: 58.33%;
}

/* line 27, ../sass/partials/_grid12-fluid.scss */
.grid12-indent-8 {
  margin-left: 66.67%;
}

/* line 28, ../sass/partials/_grid12-fluid.scss */
.grid12-indent-9 {
  margin-left: 75%;
}

/* line 29, ../sass/partials/_grid12-fluid.scss */
.grid12-indent-10 {
  margin-left: 83.33%;
}

/* line 30, ../sass/partials/_grid12-fluid.scss */
.grid12-indent-11 {
  margin-left: 91.67%;
}

/* gutters (2 x margin) */
/* line 33, ../sass/partials/_grid12-fluid.scss */
.block .inner {
  margin-left: 10px;
  margin-right: 10px;
}

/* page min width */
/* line 40, ../sass/partials/_grid12-fluid.scss */
body,
div.full-width {
  min-width: 780px;
}

/* row max-min width */
/* line 45, ../sass/partials/_grid12-fluid.scss */
.row {
  max-width: 1320px;
  /* 960px + 360px */
  min-width: 780px;
  /* 960px - 180px */
}

/* allow nested rows to be smaller */
/* line 51, ../sass/partials/_grid12-fluid.scss */
.row.nested {
  min-width: 0;
}

/* theme setting: set fluid grid width on top-level full-width elements */
/* line 56, ../sass/partials/_grid12-fluid.scss */
.fluid-100 .full-width .grid12-12 {
  width: 100%;
}

/* line 57, ../sass/partials/_grid12-fluid.scss */
.fluid-95 .full-width .grid12-12 {
  width: 95%;
}

/* line 58, ../sass/partials/_grid12-fluid.scss */
.fluid-90 .full-width .grid12-12 {
  width: 90%;
}

/* line 59, ../sass/partials/_grid12-fluid.scss */
.fluid-85 .full-width .grid12-12 {
  width: 85%;
}

/* now reset all nested full-width elements back to 100% */
/* line 62, ../sass/partials/_grid12-fluid.scss */
#page .grid12-12 .grid12-12 {
  width: 100%;
}

/* line 6, ../sass/desktop-tablet-fluid.scss */
body {
  background-image: url("../images/background_retaining_wall-1280.png");
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(100px, rgba(35, 32, 30, 0.75)), color-stop(250px, rgba(35, 32, 30, 0.15)), color-stop(400px, rgba(128, 116, 107, 0.15)), color-stop(95%, rgba(128, 116, 107, 0))), url("../images/side_piece.png"), url("../images/background_retaining_wall-1280.png");
  background-image: -webkit-linear-gradient(rgba(35, 32, 30, 0.75) 100px, rgba(35, 32, 30, 0.15) 250px, rgba(128, 116, 107, 0.15) 400px, rgba(128, 116, 107, 0) 95%), url("../images/side_piece.png"), url("../images/background_retaining_wall-1280.png");
  background-image: -moz-linear-gradient(rgba(35, 32, 30, 0.75) 100px, rgba(35, 32, 30, 0.15) 250px, rgba(128, 116, 107, 0.15) 400px, rgba(128, 116, 107, 0) 95%), url("../images/side_piece.png"), url("../images/background_retaining_wall-1280.png");
  background-image: -o-linear-gradient(rgba(35, 32, 30, 0.75) 100px, rgba(35, 32, 30, 0.15) 250px, rgba(128, 116, 107, 0.15) 400px, rgba(128, 116, 107, 0) 95%), url("../images/side_piece.png"), url("../images/background_retaining_wall-1280.png");
  background-image: -ms-linear-gradient(rgba(35, 32, 30, 0.75) 100px, rgba(35, 32, 30, 0.15) 250px, rgba(128, 116, 107, 0.15) 400px, rgba(128, 116, 107, 0) 95%), url("../images/side_piece.png"), url("../images/background_retaining_wall-1280.png");
  background-image: linear-gradient(rgba(35, 32, 30, 0.75) 100px, rgba(35, 32, 30, 0.15) 250px, rgba(128, 116, 107, 0.15) 400px, rgba(128, 116, 107, 0) 95%), url("../images/side_piece.png"), url("../images/background_retaining_wall-1280.png");
  background-position: top center,90% 0,top center;
  background-repeat: no-repeat, repeat-y, repeat;
}

/* line 17, ../sass/desktop-tablet-fluid.scss */
h1#site-name {
  font-size: 11.95em;
}

/* line 21, ../sass/desktop-tablet-fluid.scss */
#header-group {
  padding: 0;
  background-image: url("../images/birds-transparent.png");
  background-position: left bottom;
  background-repeat: repeat-x;
}

/* line 29, ../sass/desktop-tablet-fluid.scss */
#content-group {
  font-size: 1.334em;
  line-height: 1.66em;
}
/* line 32, ../sass/desktop-tablet-fluid.scss */
#content-group #content-inner {
  width: 95%;
  padding: 2%;
}
/* line 35, ../sass/desktop-tablet-fluid.scss */
#content-group p {
  max-width: 38em;
}
/* line 37, ../sass/desktop-tablet-fluid.scss */
#content-group ul {
  list-style: disc;
  max-width: 33em;
  line-height: 1.334em;
}
/* line 41, ../sass/desktop-tablet-fluid.scss */
#content-group ul li {
  margin: 0 0 .66em 0;
}
/* line 44, ../sass/desktop-tablet-fluid.scss */
#content-group ul #content-inner-inner {
  padding: .25em 1em;
}

/* line 52, ../sass/desktop-tablet-fluid.scss */
#content-tabs.block {
  margin: 0;
  padding: 1em 0 0 0;
}
/* line 56, ../sass/desktop-tablet-fluid.scss */
#content-tabs .primary {
  display: inline;
  border: none;
}
/* line 59, ../sass/desktop-tablet-fluid.scss */
#content-tabs .primary li {
  display: block;
  float: left;
  margin: 0;
}
/* line 69, ../sass/desktop-tablet-fluid.scss */
#content-tabs .secondary li {
  background: none;
  border: none;
}

/* line 78, ../sass/desktop-tablet-fluid.scss */
#footer-message {
  font-size: 1.1em;
}

/* line 87, ../sass/desktop-tablet-fluid.scss */
.block-menu_block ul.menu {
  font-size: 1.66em;
}

/* line 102, ../sass/desktop-tablet-fluid.scss */
input[type="submit"],
.uc_signup_previous,
#continue-shopping-link a,
a.uc_signup_edit_info,
.order-pane a,
.comment_add a {
  text-shadow: none;
  display: inline-block;
  width: auto;
  height: auto;
  cursor: pointer;
  font-size: 16px;
  padding: 0.5em 1.5em;
  line-height: 1.2em;
  border-style: solid;
  border-width: 1px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-color: #a0aab5;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6f7f8), color-stop(3%, #a0aab5), color-stop(70%, #708090));
  background: -webkit-linear-gradient(#f6f7f8, #a0aab5 3%, #708090 70%);
  background: -moz-linear-gradient(#f6f7f8, #a0aab5 3%, #708090 70%);
  background: -o-linear-gradient(#f6f7f8, #a0aab5 3%, #708090 70%);
  background: -ms-linear-gradient(#f6f7f8, #a0aab5 3%, #708090 70%);
  -pie-background: linear-gradient(#f6f7f8, #a0aab5 3%, #708090 70%);
  background: linear-gradient(#f6f7f8, #a0aab5 3%, #708090 70%);
  border-color: #708090;
  color: #111111;
  text-shadow: #c1c8cf 0 1px 0;
  padding: 0.5em 1.5em !important;
}
/* line 11, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.0.5/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input[type="submit"]:hover,
.uc_signup_previous:hover,
#continue-shopping-link a:hover,
a.uc_signup_edit_info:hover,
.order-pane a:hover,
.comment_add a:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6f7f8), color-stop(3%, #aeb7c0), color-stop(75%, #7e8d9b));
  background: -webkit-linear-gradient(#f6f7f8, #aeb7c0 3%, #7e8d9b 75%);
  background: -moz-linear-gradient(#f6f7f8, #aeb7c0 3%, #7e8d9b 75%);
  background: -o-linear-gradient(#f6f7f8, #aeb7c0 3%, #7e8d9b 75%);
  background: -ms-linear-gradient(#f6f7f8, #aeb7c0 3%, #7e8d9b 75%);
  -pie-background: linear-gradient(#f6f7f8, #aeb7c0 3%, #7e8d9b 75%);
  background: linear-gradient(#f6f7f8, #aeb7c0 3%, #7e8d9b 75%);
}

/* line 111, ../sass/desktop-tablet-fluid.scss */
a.uc_signup_previous,
#continue-shopping-link a,
a.uc_signup_edit_info,
.order-pane a,
.comment_add a {
  text-shadow: #C1C8CF 0 1px 0 !important;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: #111;
}
/* line 116, ../sass/desktop-tablet-fluid.scss */
a.uc_signup_previous:hover,
#continue-shopping-link a:hover,
a.uc_signup_edit_info:hover,
.order-pane a:hover,
.comment_add a:hover {
  text-decoration: none !important;
}

/* line 122, ../sass/desktop-tablet-fluid.scss */
input[type="submit"]#edit-submit, #edit-submit-5, #edit-checkout, #edit-continue, #edit-submit-44 {
  display: inline-block;
  width: auto;
  height: auto;
  cursor: pointer;
  font-size: 16px;
  padding: 0.5em 1.5em;
  line-height: 1.2em;
  border-style: solid;
  border-width: 1px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-color: #5fe041;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cef5c5), color-stop(3%, #5fe041), color-stop(70%, #2a8b13));
  background: -webkit-linear-gradient(#cef5c5, #5fe041 3%, #2a8b13 70%);
  background: -moz-linear-gradient(#cef5c5, #5fe041 3%, #2a8b13 70%);
  background: -o-linear-gradient(#cef5c5, #5fe041 3%, #2a8b13 70%);
  background: -ms-linear-gradient(#cef5c5, #5fe041 3%, #2a8b13 70%);
  -pie-background: linear-gradient(#cef5c5, #5fe041 3%, #2a8b13 70%);
  background: linear-gradient(#cef5c5, #5fe041 3%, #2a8b13 70%);
  border-color: #2a8b13;
  color: #111111;
  text-shadow: #b2f0a4 0 1px 0;
}
/* line 11, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.0.5/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input[type="submit"]#edit-submit:hover, #edit-submit-5:hover, #edit-checkout:hover, #edit-continue:hover, #edit-submit-44:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cef5c5), color-stop(3%, #71e457), color-stop(75%, #31a116));
  background: -webkit-linear-gradient(#cef5c5, #71e457 3%, #31a116 75%);
  background: -moz-linear-gradient(#cef5c5, #71e457 3%, #31a116 75%);
  background: -o-linear-gradient(#cef5c5, #71e457 3%, #31a116 75%);
  background: -ms-linear-gradient(#cef5c5, #71e457 3%, #31a116 75%);
  -pie-background: linear-gradient(#cef5c5, #71e457 3%, #31a116 75%);
  background: linear-gradient(#cef5c5, #71e457 3%, #31a116 75%);
}

/* line 126, ../sass/desktop-tablet-fluid.scss */
input[type="submit"]#edit-items-0-remove {
  display: inline-block;
  width: auto;
  height: auto;
  cursor: pointer;
  font-size: 16px;
  padding: 0.5em 1.5em;
  line-height: 1.2em;
  border-style: solid;
  border-width: 1px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  -o-border-radius: 25px;
  -ms-border-radius: 25px;
  -khtml-border-radius: 25px;
  border-radius: 25px;
  background-color: #f33737;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcc7c7), color-stop(3%, #f33737), color-stop(70%, #c71e1e));
  background: -webkit-linear-gradient(#fcc7c7, #f33737 3%, #c71e1e 70%);
  background: -moz-linear-gradient(#fcc7c7, #f33737 3%, #c71e1e 70%);
  background: -o-linear-gradient(#fcc7c7, #f33737 3%, #c71e1e 70%);
  background: -ms-linear-gradient(#fcc7c7, #f33737 3%, #c71e1e 70%);
  -pie-background: linear-gradient(#fcc7c7, #f33737 3%, #c71e1e 70%);
  background: linear-gradient(#fcc7c7, #f33737 3%, #c71e1e 70%);
  border-color: #c71e1e;
  color: #111111;
  text-shadow: #f66e6e 0 1px 0;
}
/* line 11, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.0.5/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input[type="submit"]#edit-items-0-remove:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcc7c7), color-stop(3%, #f44f4f), color-stop(75%, #dd2121));
  background: -webkit-linear-gradient(#fcc7c7, #f44f4f 3%, #dd2121 75%);
  background: -moz-linear-gradient(#fcc7c7, #f44f4f 3%, #dd2121 75%);
  background: -o-linear-gradient(#fcc7c7, #f44f4f 3%, #dd2121 75%);
  background: -ms-linear-gradient(#fcc7c7, #f44f4f 3%, #dd2121 75%);
  -pie-background: linear-gradient(#fcc7c7, #f44f4f 3%, #dd2121 75%);
  background: linear-gradient(#fcc7c7, #f44f4f 3%, #dd2121 75%);
}

/* line 129, ../sass/desktop-tablet-fluid.scss */
#block-search-0 input[type="submit"] {
  display: inline-block;
  width: auto;
  height: auto;
  cursor: pointer;
  font-size: 12px;
  padding: 0.5em 1.5em;
  line-height: 1.2em;
  border-style: solid;
  border-width: 1px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-color: #a0aab5;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6f7f8), color-stop(3%, #a0aab5), color-stop(70%, #708090));
  background: -webkit-linear-gradient(#f6f7f8, #a0aab5 3%, #708090 70%);
  background: -moz-linear-gradient(#f6f7f8, #a0aab5 3%, #708090 70%);
  background: -o-linear-gradient(#f6f7f8, #a0aab5 3%, #708090 70%);
  background: -ms-linear-gradient(#f6f7f8, #a0aab5 3%, #708090 70%);
  -pie-background: linear-gradient(#f6f7f8, #a0aab5 3%, #708090 70%);
  background: linear-gradient(#f6f7f8, #a0aab5 3%, #708090 70%);
  border-color: #708090;
  color: #111111;
  text-shadow: #c1c8cf 0 1px 0;
  padding: 0.25em 1em !important;
}
/* line 11, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.0.5/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#block-search-0 input[type="submit"]:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6f7f8), color-stop(3%, #aeb7c0), color-stop(75%, #7e8d9b));
  background: -webkit-linear-gradient(#f6f7f8, #aeb7c0 3%, #7e8d9b 75%);
  background: -moz-linear-gradient(#f6f7f8, #aeb7c0 3%, #7e8d9b 75%);
  background: -o-linear-gradient(#f6f7f8, #aeb7c0 3%, #7e8d9b 75%);
  background: -ms-linear-gradient(#f6f7f8, #aeb7c0 3%, #7e8d9b 75%);
  -pie-background: linear-gradient(#f6f7f8, #aeb7c0 3%, #7e8d9b 75%);
  background: linear-gradient(#f6f7f8, #aeb7c0 3%, #7e8d9b 75%);
}

/* line 134, ../sass/desktop-tablet-fluid.scss */
#block-countdown-0 {
  margin: -8px 0 0 0;
  height: 160px;
  font-size: 1em;
}
/* line 138, ../sass/desktop-tablet-fluid.scss */
#block-countdown-0 em {
  font-size: 14em;
  line-height: 1em;
}
/* line 142, ../sass/desktop-tablet-fluid.scss */
#block-countdown-0 span {
  top: -160px;
  left: 120px;
  width: 120px;
  font-size: 5.5em;
}

/* line 149, ../sass/desktop-tablet-fluid.scss */
h1.title {
  font-size: 5em;
  letter-spacing: 0;
}

/* line 155, ../sass/desktop-tablet-fluid.scss */
.float-right {
  float: right;
  width: 350px;
}

/* line 163, ../sass/desktop-tablet-fluid.scss */
#block-mailing_list-1 h2, #block-block-5 h2 {
  font-size: 4.65em;
}
/* line 166, ../sass/desktop-tablet-fluid.scss */
#block-mailing_list-1 label, #block-block-5 label {
  font-size: 1.5em;
}
/* line 169, ../sass/desktop-tablet-fluid.scss */
#block-mailing_list-1 #mc_embed_signup input, #block-block-5 #mc_embed_signup input {
  width: 212px;
  font-size: 1.5em;
}
/* line 173, ../sass/desktop-tablet-fluid.scss */
#block-mailing_list-1 #mc_embed_signup input.button, #block-block-5 #mc_embed_signup input.button {
  width: 136px;
  height: 52px;
  font-size: 3em;
}
/* line 178, ../sass/desktop-tablet-fluid.scss */
#block-mailing_list-1 input[type="submit"], #block-block-5 input[type="submit"] {
  float: right;
  font-size: 3em;
}
/* line 182, ../sass/desktop-tablet-fluid.scss */
#block-mailing_list-1 input[type="text"], #block-block-5 input[type="text"] {
  width: 240px;
  font-size: 2em;
}

/* line 188, ../sass/desktop-tablet-fluid.scss */
#block-block-1 {
  font-size: 1em;
}
/* line 190, ../sass/desktop-tablet-fluid.scss */
#block-block-1 h3 {
  font-size: 7.5em;
}
/* line 193, ../sass/desktop-tablet-fluid.scss */
#block-block-1 p {
  font-size: 5.7em;
}

/* line 197, ../sass/desktop-tablet-fluid.scss */
#block-block-2 {
  font-size: 1em;
}
/* line 199, ../sass/desktop-tablet-fluid.scss */
#block-block-2 h3 {
  font-size: 8.25em;
}
/* line 202, ../sass/desktop-tablet-fluid.scss */
#block-block-2 p {
  font-size: 3.75em;
}
/* line 204, ../sass/desktop-tablet-fluid.scss */
#block-block-2 p span {
  font-size: 1.6em;
  line-height: .9em;
}

/* line 210, ../sass/desktop-tablet-fluid.scss */
#block-block-3 {
  font-size: 1em;
}
/* line 212, ../sass/desktop-tablet-fluid.scss */
#block-block-3 h2 {
  font-family: "LeagueGothicRegular", Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 4.65em;
}
/* line 216, ../sass/desktop-tablet-fluid.scss */
#block-block-3 ul {
  display: block;
  height: 42px;
}
/* line 219, ../sass/desktop-tablet-fluid.scss */
#block-block-3 ul li {
  float: left;
}
/* line 221, ../sass/desktop-tablet-fluid.scss */
#block-block-3 ul li a {
  display: block;
  float: left;
  width: 45px;
  height: 42px;
}
/* line 226, ../sass/desktop-tablet-fluid.scss */
#block-block-3 ul li a em {
  width: 45px;
  height: 42px;
}

/* line 234, ../sass/desktop-tablet-fluid.scss */
#block-block-4 {
  float: right;
  width: 350px;
}

/* line 241, ../sass/desktop-tablet-fluid.scss */
#block-search-0 {
  margin: 95px 0px 0 0px;
  float: right;
  text-align: right;
}
/* line 245, ../sass/desktop-tablet-fluid.scss */
#block-search-0 #edit-search-block-form-1 {
  margin: 0 5px 0 5px;
}

/* line 252, ../sass/desktop-tablet-fluid.scss */
#cart-form-products {
  padding: 1em;
}
/* line 254, ../sass/desktop-tablet-fluid.scss */
#cart-form-products thead th {
  font-size: 1.2em;
  background: none;
  border: none;
  letter-spacing: .05em;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.66), 1px 1px 1px rgba(205, 205, 205, 0.25);
  color: #aaa;
}
/* line 261, ../sass/desktop-tablet-fluid.scss */
#cart-form-products td {
  padding: .5em 1em .5em .5em;
}
/* line 264, ../sass/desktop-tablet-fluid.scss */
#cart-form-products tbody .desc, #cart-form-products tbody .uc-price {
  font-size: 1.2em;
  letter-spacing: .05em;
  color: #ccc;
}
/* line 269, ../sass/desktop-tablet-fluid.scss */
#cart-form-products tbody .subtotal {
  color: #999;
}
/* line 274, ../sass/desktop-tablet-fluid.scss */
#cart-form-products #edit-items-0-qty {
  font-size: 1em;
  line-height: 1.5em;
  text-align: center;
}

/* line 283, ../sass/desktop-tablet-fluid.scss */
#product-group .product-image {
  float: right;
  margin: 0 0 1em 0;
}

/* line 288, ../sass/desktop-tablet-fluid.scss */
#product-details {
  margin: 2em 0 0 0;
}
/* line 290, ../sass/desktop-tablet-fluid.scss */
#product-details .uc-price-display {
  margin: 0 1em 0 0;
  font-size: 3em;
}
/* line 294, ../sass/desktop-tablet-fluid.scss */
#product-details .product-image {
  float: right;
}

/* line 299, ../sass/desktop-tablet-fluid.scss */
#uc-signup-attendees-form {
  clear: both;
  width: 460px;
}
/* line 303, ../sass/desktop-tablet-fluid.scss */
#uc-signup-attendees-form .submit-button {
  text-align: right;
}
/* line 306, ../sass/desktop-tablet-fluid.scss */
#uc-signup-attendees-form .uc_signup_previous {
  float: left;
}
/* line 309, ../sass/desktop-tablet-fluid.scss */
#uc-signup-attendees-form input[type="text"] {
  width: 95%;
  font-size: 1.2em;
}

/* line 315, ../sass/desktop-tablet-fluid.scss */
#uc-cart-checkout-form #uc_signup_attendees_pane-pane .fieldset-wrapper > div {
  float: left;
  width: 260px;
  word-wrap: break-word;
}
/* line 321, ../sass/desktop-tablet-fluid.scss */
#uc-cart-checkout-form #uc_signup_attendees_pane-pane .fieldset-wrapper > div .uc_signup_edit_info {
  float: none;
}
/* line 325, ../sass/desktop-tablet-fluid.scss */
#uc-cart-checkout-form .field-label {
  padding: .3em;
  font-size: 1.1em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75), 0px -1px 2px rgba(0, 0, 25, 0.25);
  color: #eeeeee;
}
/* line 331, ../sass/desktop-tablet-fluid.scss */
#uc-cart-checkout-form select {
  padding: 0.4em 0;
  font-size: 1em;
}
/* line 335, ../sass/desktop-tablet-fluid.scss */
#uc-cart-checkout-form #billing-pane select {
  width: 320px;
}
/* line 338, ../sass/desktop-tablet-fluid.scss */
#uc-cart-checkout-form input[type="text"] {
  font-size: 1.2em;
}
/* line 341, ../sass/desktop-tablet-fluid.scss */
#uc-cart-checkout-form #line-items-div {
  font-size: 1.2em;
}
/* line 344, ../sass/desktop-tablet-fluid.scss */
#uc-cart-checkout-form table.cart-review {
  font-size: .8em;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, rgba(81, 73, 67, 0.5)), color-stop(45%, rgba(53, 48, 44, 0.5)), color-stop(85%, rgba(39, 35, 32, 0.5)));
  background-image: -webkit-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -moz-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -o-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -ms-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
}
/* line 348, ../sass/desktop-tablet-fluid.scss */
#uc-cart-checkout-form thead th {
  font-size: 1.2em;
}
/* line 351, ../sass/desktop-tablet-fluid.scss */
#uc-cart-checkout-form td {
  font-size: 1.2em;
}
/* line 355, ../sass/desktop-tablet-fluid.scss */
#uc-cart-checkout-form tbody .desc, #uc-cart-checkout-form tbody .uc-price {
  font-size: 1.2em;
  letter-spacing: .05em;
}
/* line 359, ../sass/desktop-tablet-fluid.scss */
#uc-cart-checkout-form .uc-price {
  font-size: 1.2em;
  letter-spacing: .05em;
}
/* line 363, ../sass/desktop-tablet-fluid.scss */
#uc-cart-checkout-form .solid-border {
  border: none;
}

/* line 369, ../sass/desktop-tablet-fluid.scss */
#pid-cart-checkout-review #content-content > p {
  width: 480px;
}

/* line 373, ../sass/desktop-tablet-fluid.scss */
.order-review-table {
  width: 480px;
  font-size: 1.2em;
}
/* line 376, ../sass/desktop-tablet-fluid.scss */
.order-review-table td {
  padding: .5em 1em .5em .5em;
}
/* line 378, ../sass/desktop-tablet-fluid.scss */
.order-review-table td.title-col {
  text-align: right;
}
/* line 381, ../sass/desktop-tablet-fluid.scss */
.order-review-table td.data-col {
  color: #eeeeee;
}
/* line 388, ../sass/desktop-tablet-fluid.scss */
.order-review-table .row-border-top {
  border: none;
}
/* line 391, ../sass/desktop-tablet-fluid.scss */
.order-review-table .review-button-row {
  border: none;
  background: none;
}
/* line 394, ../sass/desktop-tablet-fluid.scss */
.order-review-table .review-button-row #edit-submit {
  float: right;
}

/* line 400, ../sass/desktop-tablet-fluid.scss */
#pid-cart-checkout-complete #content-content > p {
  width: 480px;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* line 409, ../sass/desktop-tablet-fluid.scss */
#order-pane-uc_signup_info,
#order-pane-bill_to,
#order-pane-payment,
#order-pane-order_comments {
  padding: 10px;
  border: none;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.5em;
  color: #eeeeee;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, rgba(81, 73, 67, 0.5)), color-stop(45%, rgba(53, 48, 44, 0.5)), color-stop(85%, rgba(39, 35, 32, 0.5)));
  background-image: -webkit-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -moz-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -o-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -ms-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
}

/* line 418, ../sass/desktop-tablet-fluid.scss */
.order-pane {
  background: none;
  border: none;
}
/* line 420, ../sass/desktop-tablet-fluid.scss */
.order-pane thead {
  background: none;
  border: none;
}
/* line 422, ../sass/desktop-tablet-fluid.scss */
.order-pane thead th {
  background: none;
  border: none;
}
/* line 426, ../sass/desktop-tablet-fluid.scss */
.order-pane tr, .order-pane tr.even, .order-pane tr.odd {
  background: none;
  border: none;
}

/* line 430, ../sass/desktop-tablet-fluid.scss */
#order-pane-uc_signup_info {
  width: 460px;
}

/* line 435, ../sass/desktop-tablet-fluid.scss */
#order-pane-products thead,
#order-pane-line_items thead {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, rgba(81, 73, 67, 0.5)), color-stop(45%, rgba(53, 48, 44, 0.5)), color-stop(85%, rgba(39, 35, 32, 0.5)));
  background-image: -webkit-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -moz-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -o-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -ms-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
}

/* line 441, ../sass/desktop-tablet-fluid.scss */
#view-id-sessions-page_1 thead tr {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, rgba(81, 73, 67, 0.5)), color-stop(45%, rgba(53, 48, 44, 0.5)), color-stop(85%, rgba(39, 35, 32, 0.5)));
  background-image: -webkit-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -moz-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -o-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -ms-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}
/* line 445, ../sass/desktop-tablet-fluid.scss */
#view-id-sessions-page_1 thead th {
  font-size: 1.334em;
  background: none;
  border: none;
  padding: 0.5em;
}
/* line 452, ../sass/desktop-tablet-fluid.scss */
#view-id-sessions-page_1 tbody td {
  padding: 0.5em;
  vertical-align: top;
}

/* line 464, ../sass/desktop-tablet-fluid.scss */
#view-id-cod_schedule-page_1 th {
  font-size: 1.334em;
  background: none;
  border: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, rgba(81, 73, 67, 0.5)), color-stop(45%, rgba(53, 48, 44, 0.5)), color-stop(85%, rgba(39, 35, 32, 0.5)));
  background-image: -webkit-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -moz-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -o-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: -ms-linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  background-image: linear-gradient(rgba(81, 73, 67, 0.5) 20%, rgba(53, 48, 44, 0.5) 45%, rgba(39, 35, 32, 0.5) 85%);
  padding: 0.5em;
}
/* line 471, ../sass/desktop-tablet-fluid.scss */
#view-id-cod_schedule-page_1 tbody td {
  padding: 0.5em;
  vertical-align: top;
}

/* line 477, ../sass/desktop-tablet-fluid.scss */
a.uc_signup_edit_info {
  text-shadow: none;
}
