@import "partials/_base";
// Import the Fusion grid only with a media query so that it's responsive
@import "partials/_grid12-fluid";
// Variables and mixins are in @import "partials/_base";

body {
  background-image:$page-background-image-1280;
  @include background-image(linear-gradient(rgba($header-dark-gradient-color,.75) 100px, rgba($header-dark-gradient-color,.15) 250px, rgba($header-light-gradient-color,.15) 400px, rgba($header-light-gradient-color,.0) 95%), $page-background-image2, $page-background-image-1280);
  background-position: top center,90% 0,top center;
  background-repeat:no-repeat, repeat-y, repeat; 
}

//Header site name
#site-name-wrapper {

} 
h1#site-name {
  margin:0 0 .22em 0;  
  font-size: 11.95em;
}
#slogan{
  margin: -1.25em .2em .1em 4.3em;
  font-size:3em;   
}

#header-group {
  padding: 0;
  background-image:$menu-background-image;
  background-position:left bottom;
  background-repeat:repeat-x;
}

// Content Area
#content-group {
  font-size:1.334em;
  line-height:1.66em;  
  #content-inner {
    width:95%;
    padding:2%;
  } p {
    max-width:38em;
  } ul {
    list-style:disc;
    max-width:33em;
    line-height:1.334em;
    li {
      margin:0 0 0.66em 0;
    }
  }
  #content-inner-inner {
    padding:0.5em 0em 0.5em 1em !important;
  }
}

// Content Tabs
#content-tabs {
  &.block {
    margin:0;
    padding:1em 0 0 0;
  }
  .primary { 
    display:inline;
    border:none;
    li {
      display:block;
      float:left;
      margin:0;
      a {
      }
    }   
  }
  .secondary {

    li {
      
      @include border-background-reset;
      a {
      }
    }
  }
}

#footer-message {
  font-size:1.1em;
}


// Submenus
.block-menu_block {
  .inner.clearfix {
  }
  ul.menu {
    font-size:1.66em;
  } 
}

// Forms Elements
// Forms And Buttons

//Buttons and Links styled like buttons
// Default Style Silver
input[type="submit"], 
.uc_signup_previous, 
#continue-shopping-link a,
a.uc_signup_edit_info,
.order-pane a,
.comment_add a {
  @include text-shadow(none);
  @include sassy-button("matte", 5px, 16px, $button-color-1, $button-color-2, #111, "inset");
  padding: 0.5em 1.5em !important;   
}
a.uc_signup_previous, 
#continue-shopping-link a,
a.uc_signup_edit_info,
.order-pane a,
.comment_add a {
  text-shadow: #C1C8CF 0 1px 0 !important;
  font-family: $form-font;
  font-weight: bold;
  color:#111;
  &:hover {
    text-decoration:none !important;
  }
}
// Forms Elements
// Primary Style  Green
input[type="submit"]#edit-submit, #edit-submit-5, #edit-checkout, #edit-continue, #edit-submit-44  {
  @include sassy-button("matte", 5px, 16px, #5fe041, #2a8b13, #111, "inset");   
}
// Remove Items Style RED
input[type="submit"]#edit-items-0-remove {
  @include sassy-button("matte", 25px, 16px, #f33737, #c71e1e, #111, "inset");
}
#block-search-0 input[type="submit"] {
   @include sassy-button("matte", 5px, 12px, $button-color-1, $button-color-2, #111, "inset");
padding: 0.25em 1em !important;
}

// Front page 
.float-right {
  float:right;
  width:350px;
}
.front .node-type-page {

}
#block-mailing_list-1, #block-block-5 {
  h2 {
    font-size:4.65em;
   }
  label {
    font-size:1.5em;
  }
  #mc_embed_signup input {
    width:212px;
    font-size:1.5em;
  }
  #mc_embed_signup input.button {
    width:136px;
    font-size:1.2em; 
  }
  input[type="submit"] {

  }
  input[type="text"]{
  }
}

#block-block-1 {
  font-size:1em;
  h3 {
    font-size:7.5em;
  }
  p {
    font-size:5.7em;
  }
}
#block-block-2 {
  font-size:1em;
  h3 {
    font-size:8.25em;
  }
  p {
    font-size:3.75em;
    span {
      font-size:1.6em;
      line-height:.9em;  
    }
  }
}
#block-block-3 {
  font-size:1em;  
  h2 {
    font-family: $heading-font;
    font-size:4.65em;
  }
  ul {
    display:block;
    height:42px;
   li {
     float:left;
     a { 
       display:block;
       float:left;
       width:45px;
       height:42px;
       em {
         width:45px;
         height:42px;        
       }
     }
   }
  }
}
#block-countdown-0 {
  margin:-8px 0 0 0; 
  height:160px;
  font-size:1em;
  em {
    font-size:14em;
    line-height:1em;
  }
  span {
    top:-160px;
    left:120px;  
    width:120px;
    font-size:5.5em;
  }
}
h1.title {
  font-size: 5em; 
  letter-spacing:0;
}
//

#block-search-0 {
  margin:95px 0px 0 0px;
  float:right;
  text-align:right;
  #edit-search-block-form-1 {
    margin:0 5px 0 5px;
  }
}


//Ubercart 
#cart-form-products {
  padding:1em;
  thead th {
    font-size:1.2em;
    @include border-background-reset;
    letter-spacing: .05em;
    @include menu-text-shadow;
    color:#aaa;
  }
  td {
    padding:.5em 1em .5em .5em; 
  }
  tbody .desc, tbody .uc-price {
    font-size:1.2em;
    letter-spacing: .05em;
    color:#ccc;
  }
  tbody .subtotal {
   color:#999; 
  }
  tbody td.image {
  }
  #edit-items-0-qty {
    font-size:1em;
    line-height:1.5em;
    text-align:center;
  }
}

// DrupalCamp tickets
#product-group {
  .product-image {
    float: right;
    margin:0 0 1em 0;
  }  
}
#product-details {
  margin:2em 0 0 0;
  .uc-price-display {
    margin:0 1em 0 0;
    font-size:3em;
  }
  .product-image {
    float: right;    
  }
}

#uc-signup-attendees-form {
  clear:both;
  
  width:460px;
  .submit-button {
    text-align:right;
  }
  .uc_signup_previous {
    float:left;
  }  
  input[type="text"] {
    width:95%;
    font-size:1.2em;
  }
}
#uc-cart-checkout-form {
  #uc_signup_attendees_pane-pane .fieldset-wrapper > div {
    float:left;
    width:260px;
    word-wrap: break-word;
    .uc_signup_user_events {
    }
    .uc_signup_edit_info {
      float:none;
    }
  }
  .field-label {
    padding:.3em;
    font-size:1.1em;    
    @include reg-text-shadow;
    color:$light-text-color;
  }
  select {
    padding: 0.4em 0;
    font-size: 1em;
  }  
  #billing-pane select { 
    width: 320px;
  }
  input[type="text"] {
    font-size:1.2em;
  }
  #line-items-div {
    font-size:1.2em;
  } 
  table.cart-review {
    font-size:.8em;
    @include background-image(linear-gradient($menu-top-background-gradient 20%, $menu-middle-background-gradient 45%, $menu-bottom-background-gradient 85%));
  }
  thead th {
    font-size:1.2em;
  }
  td {
    font-size:1.2em; 
  }

  tbody .desc, tbody .uc-price {
    font-size:1.2em;
    letter-spacing: .05em;
  }
  .uc-price {
    font-size:1.2em;
    letter-spacing: .05em;
  }
  .solid-border {
    border:none;
  }
} 

#pid-cart-checkout-review {
  #content-content > p {
    width:480px;
  }  
} 
.order-review-table  {
  width:480px;
  font-size: 1.2em;
  td {
    padding:.5em 1em .5em .5em;
    &.title-col {
      text-align: right;
    }
    &.data-col {
      color:$light-text-color;  
    } 
  }
  .pane-title-row {
    
  }
  .row-border-top {
    border:none;  
  } 
  .review-button-row {
    border:none;
    background:none;
    #edit-submit {
      float:right;
    }    
  }
}
#pid-cart-checkout-complete {
  #content-content > p {
    width:480px;
    font-family: $form-font;
  }
}

#order-pane-uc_signup_info,
#order-pane-bill_to,
#order-pane-payment,
#order-pane-order_comments {
  padding:10px;
  border:none;
  @include content-group-corners;
  font-family: $form-font;
  line-height:1.5em;
  color:$light-text-color;
  @include background-image(linear-gradient($menu-top-background-gradient 20%, $menu-middle-background-gradient 45%, $menu-bottom-background-gradient 85%));
  }
.order-pane { 
  @include border-background-reset;
  thead {
    @include border-background-reset;
    th {
      @include border-background-reset;
    }
  }
  tr, tr.even, tr.odd {
    @include border-background-reset;
  }
}
#order-pane-uc_signup_info {
  width:460px;
}
#order-pane-products,
#order-pane-line_items {
  thead {
    @include background-image(linear-gradient($menu-top-background-gradient 20%, $menu-middle-background-gradient 45%, $menu-bottom-background-gradient 85%));  
  }
}
#view-id-sessions-page_1 {
  thead {
    tr {
    @include background-image(linear-gradient($menu-top-background-gradient 20%, $menu-middle-background-gradient 45%, $menu-bottom-background-gradient 85%));
    @include content-group-corners;
  }
    th {
      font-size:1.334em;
      @include border-background-reset;
      padding:0.5em;
    }
  }
  tbody {
    td {
       padding:0.5em;
       vertical-align:top;
    }
  }
}
#view-id-cod_schedule-page_1 { 
  thead {
    tr {
      
    } 
  }
  th {
    font-size:1.334em;
    @include border-background-reset;
    @include background-image(linear-gradient($menu-top-background-gradient 20%, $menu-middle-background-gradient 45%, $menu-bottom-background-gradient 85%));
    padding:0.5em;
  }
  tbody {
    td {
       padding:0.5em;
       vertical-align:top;
    }
  }
}
a.uc_signup_edit_info {
 @include text-shadow(none); 
} 

// Sponsor page
.node-type-sponsor {
  .imagefield-field_logo {
    float:right;
    margin:0 10px 10px 10px;
  }
}

// Sponsor View
#view-id-Sponsors-page_1 {
  ul {
    li {
      img {
        margin:0 20px 0 0;
      }
    }  
  }
}

/// Media Query

@media only screen and (min-width : 480px) and (max-width : 959px) {
  h1#site-name {
    font-size: 9.2em;
  }
  #slogan{
    margin: -1em .2em .1em 4.3em;
    font-size:2.4em;   
  }
  h1.title {
  font-size: 4em;
  }

  #block-block-1 {
    font-size:1em;
    h3 {
      font-size:5.5em;
    }
    p {
      font-size:4.2em;
    }
  }
  #block-block-2 {
    font-size:1em;
    h3 {
      font-size:6.25em;
    }
    p {
      font-size:2.85em;
    }
  }
  #block-block-3 {
    font-size:1em;  
    h2 {
      font-size:4.65em;
    }
    ul {
      display:block;
      height:42px;
     li {
       float:left;
       a { 
         display:block;
         float:left;
         width:45px;
         height:42px;
         em {
           width:45px;
           height:42px;        
         }
       }
     }
    }
  }
  
  #block-countdown-0 {
    margin:-8px 0 0 0; 
    height:120px;
    font-size:1em;
    em {
      font-size:10.5em;
      line-height:1em;
    }
    span {
      top: -120px;
      left: 95px;
      width: 100px;
      font-size: 4.1em;
    }
  }
  h1.title {
    font-size: 5em; 
    letter-spacing:0;
  } 
  
  #edit-search-block-form-1 {
    width:90px; 
    line-height:1.25em;
    font-size:1em;
  }
  #block-search-0 input[type="submit"] {
     @include sassy-button("matte", 5px, 11px, $button-color-1, $button-color-2, #111, "inset");
  padding: 0.25em 1em !important;
  } 
  #block-user-0 {
    &.grid12-2 {
      width: 25%;
    }
  }
}
